<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The application uses directional readings from a magnetometer (compass) on the device. -->
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
