<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For android.support.v4.app.JobIntentService -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- The application uses one or more features on the device for determining location, such as GPS location, network location, or cell location. -->
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application android:name="com.github.times.location.DefaultLocationApplication">
        <activity
            android:name="com.github.times.location.AddLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_add_location">
            <intent-filter android:label="@string/title_activity_add_location">
                <action android:name="android.intent.action.INSERT" />
            </intent-filter>
            <intent-filter android:label="@string/title_activity_add_location">
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.github.times.location.AddressService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="com.github.times.location.provider.LocationContentProvider"
            android:authorities="${applicationId}.locations"
            android:exported="false" />
    </application>

</manifest>
