<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.lib">

    <application>
        <provider
            android:name="com.github.provider.PreferencesProvider"
            android:authorities="${applicationId}.preferences"
            android:exported="false" />
    </application>

</manifest>
